body {
	background: #000000;
	color: #FFFFFF;
	font-family: Segoe UI;
	font-size: 11px;
}

body a {
	cursor: default;
}

a:link {
	text-decoration: none;
	color: #FFFFFF;
}

a:visited {
	color: #FFFFFF;
}

a:hover {
	text-shadow : 1px 1px 1px #888;
}

input {
	background: #DDDDDD;
	color: #666666;
	border: 1px solid;
}

#num {
	border: 1px solid #FFFFFF;
}

textarea {
	background: #DDDDDD;
	color: #666666;
	border: 1px solid;
}

select {
	background: #DDDDDD;
	color: #666666;
	border: 1px solid;
}